
# Environment management
python-dotenv

# Web app UI framework
streamlit

# LangChain ecosystem
langchain
langsmith
langgraph
langchain-google-genai
langchain-community
langchain_tavily

# Tooling
uv